body {
    background-image: linear-gradient(
        180deg,
        
        #FFA500 20%,
        #FF8C00 25%,
        #FF4500 50%,
        #FF0000 85% 
        

    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative ;
}