body {
    background-image: linear-gradient(
        180deg,
        
        #FFA500 20%,
        #FF8C00 25%,
        #FF4500 50%,
        #FF0000 85% 
        

    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative ;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section button {
    background-color: #9400D3;
    border: none;
    border-radius: 1000000px;
    color: black;
    font-family: Arial;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: -0.6px;
    line-height: 25px;
    text-transform: capitalize;
    padding: 9px 23px;
}

#datealhes-container {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}